.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    
  }
  
  .modal-main {
    position:fixed;
    width: 90%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:auto;
    border-radius: 2em;
    
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }


.modal-body{
  color: white;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1em;

  svg{
    width: 300px;
    height: 300px;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: -1em;
  
  }

  #Character {
    animation: float 1s infinite;
    transform-origin: center;
    transform-box: fill-box;


  }



  #Clouds {
    animation: float 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }



  #paper_planes {
    animation: float 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes float {
    0% {

      transform: translatey(0px);
    }

    50% {

      transform: translatey(-30px);
    }

    100% {

      transform: translatey(0px);
    }
  }

  .text-featured {
    width: 100%;
    color: black;
    margin-left: -4em;
    text-align: center;



    .subtitle {
      color: #6A88D6;
      text-transform: uppercase;
      letter-spacing: .9em;
      font-weight: bold;
      margin-top: 3em;
      font-size: large;
      
    }

    h2{

      margin-left: 1em;
    }

  }
    
}

.f{

  text-align: end;
  margin-right: 2em;
  margin-bottom: 1em;
  button {
    padding: 0.5em 1.2em;
    outline: none;
    border: none;
    border-radius: 2em;
    background: #FC5BD8;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition: transform 1.05s ease-in-out;
    -ms-transition: transform 1.05s ease-in-out;
    width: 120px;
    margin-left: 6em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  }

  button:hover {
    transform: scale(1.05);


  }
}
